.mainTitle {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.subTitle {
    font-size: 20px;
    color: white;
    text-align: center;
}

.mainBody {
    background-color: rgb(235, 74, 101);
}

.iculogo {
    /* Draw a circle outline */
    /* 中间的logo和外围线有空隙 */
    padding: 5px;
    border-radius:50%;
    width: 200px;
    height: 200px;
    border: 10px solid white;
    margin: 0 auto;
    display: block;
}

.mainArticle {
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

.uniformFonts {
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    color: white;
    text-align: center;
    padding: 10px;
}
